body {
    background-color: burlywood;
}

nav{
    background-color: #2d772d;
}

.navbar{
    background-color: blue;
}

h1, h3, .navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif Display', serif;
}
h1{
    color: #93593f;
}