<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">

    <!--Fonts    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Serif+Display:ital,wght@1,200&display=swap" rel="stylesheet">

</head>
<body>
<nav th:replace="partials :: navbar" />

<h1 align="center">Mommy Mode</h1>
<h3 align="center">Made by a Mom for Moms</h3>


</body>
</html>